{% extends 'ProStageTemplate.html.twig' %}

{% block title %}Formations{% endblock %}

{% block titrePage %}

Cette page affichera la liste des formations de l'IUT

{% endblock %}


{% block titreDuContenu %}

Liste des formations

{% endblock %}


{% block contenu %}

<ul class="list-group">
  <li class="list-group-item">Dut Informatique</li>
  <li class="list-group-item">Licence Pro Prog avancée</li>
  <li class="list-group-item">Licence Pro Multimédia</li>
  <li class="list-group-item">Licence</li>
</ul>


{% endblock %}
