{% extends 'ProStageTemplate.html.twig' %}

{% block title %}Entreprises{% endblock %}

{% block titrePage %}

Cette page affichera la liste des entreprises proposant un stage

{% endblock %}


{% block titreDuContenu %}

Liste des entreprises

{% endblock %}


{% block contenu %}

<ul class="list-group">
  <li class="list-group-item">Apple</li>
  <li class="list-group-item">Microsoft</li>
  <li class="list-group-item">Safran</li>
  <li class="list-group-item">L'ubrisoft</li>
  <li class="list-group-item">Unexpected</li>
</ul>

{% endblock %}
